/* app css stylesheet */

.header {
	width: 100%;
	height: 140px;
	padding-top: 20px;
	background: #F0F0F0;
	border-bottom: 1px solid #CCC;
	box-shadow: 1px 1px 1px #CCC;
	margin-bottom: 20px;
}
.header img{
	margin-right: 20px;
}
body {
	margin: 0;
	padding: 0;
	background: #F9F9F9;
}
h1 {
	border-bottom: 1px solid gray;
}
input:invalid {
	background-color: #FFCCCC;
}

li.user {
	list-style: none;
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
li.user input {
	width: 80%;
}

.name {
	display: inline-block;
	width: 50px;
	vertical-align: baseline;
	text-align: center;
	margin-right: 10px;
	border-right: 1px solid #CCC;
}
.pay {
	display: inline-block;
	width: 80px;
	vertical-align: baseline;
	text-align: right;
	margin-right: 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
.rate {
	display: inline-block;
	width: 60px;
	vertical-align: baseline;
	margin-right: 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
.switch-btn {
	width: 50px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
.borrow {
	display: inline-block;
	width: 60px;
	vertical-align: baseline;
	margin-right: 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
.note {
	display: inline-block;
	width: 200px;
	vertical-align: baseline;
}
.final {
	display: inline-block;
	width: 50px;
	vertical-align: baseline;
	font-weight: bold;
	text-align: center;
	margin-right: 10px;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}
.title span{
	text-align: center;
	font-weight: bold;
}

.item {
	list-style: none;
	border-bottom: 1px solid #CCC;
}
ul {
	margin: 0 !important;
	padding: 0;
}
